.testimonials{
   
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    background: linear-gradient(to right, #90648e, #03464d, #6b408a);
    
}
.left-t{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}
.left-t>:nth-child(1)
{
    color: var(--orange);
    font-weight: bold;
}
.left-t>:nth-child(2),
.left-t>:nth-child(3)
{
    font-weight: bold;
    font-size: 3rem;
}
.left-t>:nth-child(4)
{
    text-transform: none;
    text-align: justify;
    line-height: 40px;
    letter-spacing: 2px;
    
}
.right-t{
    flex: 1;
    position: relative;
    height: 450px;
    height: 450px;
}
.right-t>img{
    position: absolute;
    width: 25rem;
    height:30rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}
.arrows{
   display: flex;
   gap: 1rem;
   position: absolute;
  bottom: 13rem;
   right: 0;
   font-size: 50px;
   color: gray;
}
.arrorback{
    display: flex;
   align-items: center;
     left: 35rem;
     font-size: 50px;
   color: gray;
}


.stroke-text{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(175, 189, 220);
  }

@media screen and (max-width: 768px) {
    .testimonials{
        flex-direction: column;

    }
    .left-t>:nth-child(2),
    .left-t>:nth-child(3){
         font-size: xx-large;
    }
    .right-t{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .right-t>div{
        position: relative;
        display: none;
    }
    .right-t>img{
        top: 0;
        right: 0;
        position: relative;
        align-self: center;
    }
    .right-t>:last-child{
        display: block;
        bottom: 0;
        left: 0;
    }
}




